*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;

}
body{
    margin: 0;
}
img{
    height: 60px;
    
}
h1{
    font-size: 1.5rem;
    text-align: center;
}
h2{
    color: white;
    text-align: center;

}
.dotted{
    border: dotted 6px white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}
a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
[class*="col-"]{
    float: left;
    padding: 10px;
}
[class*="col-"]{
    width: 100%;
}
.btn11 a{
    background-color: #f9004d;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    border: 2px solid transparent;
    color: white;
    font-size: .9rem;
    padding: 5px;
}
.btn11 a:hover{
    font-size: .9rem;
    transition: .4s;
    font-weight: bold;
    background-color: black;
    border: 2px solid red;
}
.navbar{
    background-color: black;
    padding: 1% 7%;
    text-align: center;
}
.navbar h1{
    color: white;
    margin: 0;
    padding-top: 15px;
}
.nav-menu{
    display: flex;
    flex-direction: column;
}
.nav-menu a{
    background-color: #0c6168;
    border-radius: 10px;
    margin: 7px 0px;
    padding: 11px;
}
.nav-menu a:hover{
    background-color: red;
    font-size: 1.1rem;
    transition: .5s;
    font-weight: bold;
}
.navbar::after{
    content: '';
    display: table;
    clear: both;
}

/* profile dsign starts from here */

p{
    font-size: 1.2rem;
    text-align: justify;
}
.profile{
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
    padding-top: 100px;
    position: relative;
    text-align: center;
}
.Image_me{
    height: 400px;
    border-radius: 40px;
}
.content{
    padding-top: 40px;
    color: white;
    position: relative;
    text-align: center;
}
.profile-des h1{
  font-family: "Jesefin Sans", sans-sans-serif;
    margin: 20px 0px 20px;
    font-size: 40px;
    letter-spacing: 0px;
}

.profile-des h3{
      font-size: 1.3rem;
     font-family: "Jesefin Sans", sans-sans-serif;
     margin-top: -15px;
}
.profile-des h4{
    font-family: "Jesefin Sans", sans-sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: -15px;
    text-align: center;
}

#occupation {
  
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #333;
  animation: typing 3s steps(30, 40);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.newslatter form{
   
    max-width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    padding: 4px 15px 4px 8px;
    border: 1px solid #f9004d;
    outline: none;
    border-radius: 30px; 
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 2px 15px;
    border-radius: 30px;
    background-color:#f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 17px;
    right: 118px;
    
}
.newslatter form input:last-child:hover{
  
    background-color: black;
    color: white;
    border: 1px solid #f9004d;
    transition: .5s;
   
    cursor: pointer;
}

.profile-des p{
    /* padding-top: 15px; */
    color: grey;
    text-align: center;
    width: 90%;
    margin: 0 auto 20px auto;
    font-size: .95rem;
}


.profile::after{
    content: '';
    display: table;
    clear: both;

}
span{
    color: #f9004d;
}
.hi{
    color: #f9004d;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}
/* profile dsign endds from here */

 /* Obout me starts here  */
 .about_me{
    background-color: #070607;
    padding: 4% 0%;
 }
 .about{
    background-color: #1B191B;
    padding: 2% 7%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
 }
 .about_me::after{
    clear: both;
    display: table;
    content: '';
 }
 .about::after{
    clear: both;
    display: table;
    content: '';
 }
 .about_image img{
   height: 220px;
   width: 220px;
   border: 5px solid black;
   border-radius: 50%;
   
 }
 .about_image img:hover{
  cursor: pointer;
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
  box-shadow: 0px 2px 4px 3px greenyellow;
  transition: .6s;

 }
 .about_image{
    padding-top: 50px;
    padding-bottom: 40px;
  
 }
 
 .about_me p{
    text-align: center;
    font-size: .95rem;
    
 }
 .about_me a{
    font-size: 1.2rem;
    font-size: smaller;
 }
 .about_me a:hover{
    color: #f9004d;
 }
 .cv_button{
    background-color: #f9004d;
    color: white;
   
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin: 10px;
 }
 .cv_button:hover{
    background-color: transparent;
    
    transition: .5s;
    border: 2px solid red;
 }
 
  /* Obout me ends here  */

  /* skills starts  here */
  .professional_experience{
   padding: 8% 1%;
   padding-bottom: 10%;
    background-color: #070607;
  }
  .professional_experience .card{
    background-color: #1B191B;
    color: white;
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
  }
  .card:hover{
        box-shadow: 0px 4px 8px 5px red;
  }
  .card-icon{
    text-align: center;
    padding-bottom: 15px;

  }
  .card-icon img{
    margin-top: 5px;
    width: 70px;
    height: 70px;
    border: 4px solid black;
    border-radius: 20%;
    padding: 5px;
  }

  .professional_experience::after{
    clear: both;
    display: table;
    content: '';
  } 
  .card-title h2{
    background-color: #0c6168;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
  }
  .card strong{
    font-size: .9rem;
  }
  .card-des p{
    font-size: small;
  }




  /* skills ends  here */

  /* <!-- progress bar starts here --> */
  .skills li {
  font-weight: 400;
  font-size: .9rem;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 15px;
}

.progress-bar {
  background-color: black;
  width: 400px;
  height: 8px;
  border-radius: 5px;
}

.progress-bar div {
  height: 8px;
  border-radius: 5px;
  width: 0%;
}

.progress-bar div span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #1F2235;
  float: right;
  margin-top: -15px;
  margin-right: -20px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.progress-bar .html {
  background: #e91e63;
  animation: none;
}

.progress-bar .css {
  background: #FCF600;
  animation: none;
}

.progress-bar .javascript {
  background: #00bcd4;
  animation: none;
}

.progress-bar .bootstrap {
  background: #2B4CFF;
  animation: none;
}

.progress-bar .c {
  background: #9c27b0;
  animation: none;
}

.progress-bar .c1 {
  background: #FCF600;
  animation: none;
}

.progress-bar .java {
  background: #62D7FF;
  animation: none;
}

.progress-bar .mysql {
  background: #EA44BB;
  animation: none;
}

.progress-bar .python {
  background: #68F400;
  animation: none;
}

.progress-bar .github {
  background: #E47074;
  animation: none;
}

.html span {
  border: 1px solid #e91e63;
}

.css span {
  border: 1px solid #FCF600;
}

.javascript span {
  border: 1px solid #00bcd4;
}

.bootstrap span {
  border: 1px solid #2B4CFF;
}

.c span {
  border: 1px solid #9c27b0;
}

.c1 span {
  border: 1px solid #FCF600;
  
}

.java span {
  border: 1px solid #62D7FF;
}

.mysql span {
  border: 1px solid #EA44BB;
}

.python span {
  border: 1px solid #68F400;
  
}

.github span {
  border: 1px solid #E47074;
}

@keyframes html {
  100% {
    width: 70%;
  }
}

@keyframes javascript {
  100% {
    width: 80%;
  }
}

@keyframes css {
  100% {
    width: 70%;
  }
}

@keyframes bootstrap {
  100% {
    width: 60%;
  }
}

@keyframes c {
  100% {
    width: 70%;
  }
}

@keyframes c1 {
  100% {
    width: 85%;
  }
}

@keyframes java {
  100% {
    width: 80%;
  }
}

@keyframes mysql {
  100% {
    width: 75%;
  }
}

@keyframes python {
  100% {
    width: 65%;
  }
}

@keyframes github {
  100% {
    width: 80%;
  }
}

.skills::after {
  clear: both;
  display: table;
  content: '';
}

/* Added CSS for hover animation */
.card:hover .progress-bar .html {
  animation: html 2s linear forwards;
}

.card:hover .progress-bar .css {
  animation: css 2s linear forwards;
}

.card:hover .progress-bar .javascript {
  animation: javascript 2s linear forwards;
}

.card:hover .progress-bar .bootstrap {
  animation: bootstrap 2s linear forwards;
}

.card:hover .progress-bar .c {
  animation: c 2s linear forwards;
}

.card:hover .progress-bar .c1 {
  animation: c1 2s linear forwards;
}

.card:hover .progress-bar .java {
  animation: java 2s linear forwards;
}

.card:hover .progress-bar .mysql {
  animation: mysql 2s linear forwards;
}

.card:hover .progress-bar .python {
  animation: python 2s linear forwards;
}

.card:hover .progress-bar .github {
  animation: github 2s linear forwards;
}

      /* <!-- progress bar ends here --> */
      /* <!-- Our service starts here --> */
.service{
    background-color: #101010;
    color: white;
    width: 100%;
    
    padding: 80px 0px;

}
.title h2{
    color: white;
    font-size: 1.5rem;
   
    margin: 20px auto;
    text-align: center;
}
.box{
    display: grid;
    justify-content: center;
   
    
    align-items: center;
    text-align: center;
    min-height: 400px;
   
}
.card1{
    
    height: 365px;
    width: 335px;
    padding: 10px 25px;
    background-color: #191919;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card1 i{
    font-size: 40px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 1rem;
    margin-bottom: 15px;

}
.para p{
    color: #fcfc;
    font-size: .8rem;
    line-height: 25px;
    margin-bottom: 25px;
}
.para a{
    font-size: .8rem;
}
.card1 .button1{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 100px;
    transition: .4s;

}
.card1:hover{
    box-shadow: 0px 3px 6px 4px #68F400;
    transition: 1s;
}
.card1 .button1:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    font-size: .9rem;
}
      /* <!-- Our service ends here --> */

      /* <!-- hire part starts here --> */
.hire-me{
   
    margin-top: 100px;
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.hire-me p{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
}
.hire-me a{
    font-size: .8rem;
}
.hire-me .button2{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 100px;
    transition: .4s;
}
.hire-me .button2:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    font-size: .9rem;
}

.hire-me i{
    font-size: 30px;
    display: block;
    text-align: center;
    margin-top: 30px;
  
   color: #68F400;
}
.hire-me i:hover{
    font-size: 100px;
    transition: 1s;
    border: 4px solid red;
    border-radius: 50%;
   
}
      /* <!-- hire part starts here --> */
.contact-me{
    padding: 3% 7%;
    text-align: center;
  margin-top: 100px;
  background-color: #191919;
}
.contact-me::after{
    clear: both;
        display: table;
        content: '';
}
     
      .contact p{
        
        text-align: center;
      }
      .contact input, textarea{
        
        width: 70%;
        padding: 10px;
        font-size: 1rem;
        text-align: center;
        border: none;
        border-radius: 5px;
        resize: none;
        background-color: rgb(207, 195, 195);
        
      }
      .contact textarea{
        height: 100px;
      }
      .contact input{
        height: 30px;
      }
      .contact button{
        border: none;
        border-radius: 8px;
        color: white;
        background-color: #f9004d;
        padding: 8px;
        margin: 10px;
        cursor: pointer;
        font-size: .8rem;
        width: 60px;
        font-weight: bold;
        
      }
      .contact button:hover{
      transition: .1s;
    background-color: black;
    border: 2px solid red;
      }
      .contact-link{
        margin-top: 50px;
        text-align: center;
        padding-top: 100px;
      }
      .media-buttons .btn{
        border: none;
      
        border-radius: 25px;
        cursor: pointer;
        font-size: 25px;
        padding: 2px;
        margin: 3px;
        width: 35px;
       background-color:transparent;
       
      }
      .btn:hover{
        background-color: white;
      }
      .contact-link h1{
        margin-bottom: -10px;
        font-family: 'Josefin Sans', sans-serif;
       font-size: 30px;
       letter-spacing: 2px;
     
      
      }
      .contact-link h4{
        padding-top: 5px;
        margin-bottom: 0px;
        padding-bottom: 10px;
        color: rgb(194, 188, 188);
        font-weight: lighter;
        font-family: 'Josefin Sans', sans-serif;
        
      }
      .footer{
      background-color: #f9004d;
       
        margin-bottom: -100px;
        margin-top: -15px;
      }

      .footer p{
        text-align: center;
        font-size: .8rem;
        color: white;
        padding: 0px;
        padding-top: 10px;
      }
      

      .footer::after{
       
        clear: both;
        display: table;
        content: '';
      
      }


  /* Project Part here */
 
  
  .container h1{
    margin-top: 100px;
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .project {
    width: calc(33.33% - 50px);
    margin-bottom: 20px;
  }
  
  .cardP {
    background-color:#191919;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .cardP:hover{
    box-shadow: 0px 3px 6px 4px red;
    transition: .8s;
  }
  
  .cardP img {
    width: 100%;
    height: 170px;
    
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .cardP-body h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .cardP-body p {
    font-size: 14px;
    color: #777777;
  }
  
  .cardP-body hr {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #dddddd;
  }
  
  .centered {
    text-align: center;
  }
  
  .visit-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f9004d;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .visit-link:hover {
    transition: .1s;
    background-color: black;
    border: 2px solid red;
  }
  
  @media only screen and (max-width: 768px) {
    .project {
      width: 100%;
    }
  }
  
